@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

body {
    background-color: #139cab;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    color: #fff;
    margin: 10rem;
    text-align: center;
}

p {
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
}

.container {
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 10 auto;
    padding: 0 15px;
    align-items: center;
    justify-content: center;
}

.book-form {
    width: 80%;
    margin: 1rem auto;
    margin-top: 5rem;
    background: #fff;
    border-radius: 1rem;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
            box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
    padding: 3rem 2rem;
  }
  
  .book-form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.5rem;
  }
  
  .book-form form .inputBox {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25rem;
            flex: 1 1 25rem;
  }
  
  .book-form form .inputBox span {
    font-size: 1.4rem;
    color: #aaa;
  }
  
  .book-form form .inputBox input {
    width: 100%;
    padding: 1.2rem 1.4rem;
    border-radius: 5rem;
    border: 0.2rem solid #139cab;
    font-size: 1.6rem;
    color: #aaa;
    text-transform: none;
    background: none;
    margin-top: 1rem;
  }
  
  .book-form form .btn {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 15rem;
            flex: 1 1 15rem;
  }
  